@page
@model Proyecto1.Pages.Jugadores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Jugador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Jugador.JugadorID" />
            <div class="form-group">
                <label asp-for="Jugador.Nombre" class="control-label"></label>
                <input asp-for="Jugador.Nombre" class="form-control" />
                <span asp-validation-for="Jugador.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jugador.Historia" class="control-label"></label>
                <input asp-for="Jugador.Historia" class="form-control" />
                <span asp-validation-for="Jugador.Historia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jugador.Posicion" class="control-label"></label>
                <input asp-for="Jugador.Posicion" class="form-control" />
                <span asp-validation-for="Jugador.Posicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jugador.Fechainscripcion" class="control-label"></label>
                <input asp-for="Jugador.Fechainscripcion" class="form-control" />
                <span asp-validation-for="Jugador.Fechainscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jugador.ImagenJug" class="control-label"></label>
                <input asp-for="Jugador.ImagenJug" class="form-control" />
                <span asp-validation-for="Jugador.ImagenJug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
